In [7]:
# Get Current Working Directory with os.getcwd()
import os
cwd = os.getcwd()
print('Current Working Directory is: ', cwd)
# Returns: Current Working Directory is:  /Users/datagy

Current Working Directory is:  /Users/charlesthomasnkoho

In [8]:
# Change the current working directory with os.chdir()
import os
cwd = os.getcwd()
print('Current Working Directory is: ', cwd)
absolute_path = '/Users/charlesthomasnkoho/Documents'
os.chdir(absolute_path)
print('New working directory is: ', os.getcwd())
# Returns:
# Current Working Directory is:  /Users/datagy
# New working directory is:  /Users/datagy/Documents

Current Working Directory is:  /Users/charlesthomasnkoho
New working directory is:  /Users/charlesthomasnkoho/Documents

In [9]:
df = pd.read_csv("/Users/charlesthomasnkoho/Documents/NVDA.csv")

In [10]:
data = df.copy()

In [11]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000,1.260000e+03
mean,104.245667,106.161260,102.120244,104.188327,103.927899,4.920926e+07
std,74.594439,76.233616,72.639107,74.435649,74.528081,2.500132e+07
min,31.622499,32.494999,31.115000,31.770000,31.554657,9.788400e+06
25%,47.730000,48.263749,46.923750,47.699374,47.265405,3.182070e+07
50%,63.825001,65.187500,62.774999,63.987499,63.539827,4.384260e+07
75%,140.021874,142.399372,137.488751,139.945625,139.818382,6.085220e+07
max,335.170013,346.470001,320.359985,333.760010,333.591766,2.511528e+08

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1260 non-null   object
 1   Open       1260 non-null   float64
 2   High       1260 non-null   float64
 3   Low        1260 non-null   float64
 4   Close      1260 non-null   float64
 5   Adj Close  1260 non-null   float64
 6   Volume     1260 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB

In [13]:
df['Date']=pd.to_datetime(df['Date'])
df.set_index(['Date'],inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1260 entries, 2017-06-12 to 2022-06-10
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1260 non-null   float64
 1   High       1260 non-null   float64
 2   Low        1260 non-null   float64
 3   Close      1260 non-null   float64
 4   Adj Close  1260 non-null   float64
 5   Volume     1260 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 68.9 KB

In [15]:
missing_val = df.isnull().sum()
missing_val_percentile = (100 * missing_val)/len(df)
missing_val_table = pd.concat([missing_val,missing_val_percentile], axis = 1)
missing_val_table = missing_val_table.rename(columns ={ 0: 'Missing Values', 1: 'Percentage'})
missing_val_table = missing_val_table.sort_values(by = 'Missing Values', ascending = False)
missing_val_table

           Missing Values  Percentage
Open                    0         0.0
High                    0         0.0
Low                     0         0.0
Close                   0         0.0
Adj Close               0         0.0
Volume                  0         0.0

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns
import missingno as msno
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.dates as mdates
import scipy.stats
from sklearn.metrics import mean_absolute_error, mean_squared_error
import pylab
sns.set(style='white')
# from pmdarima import auto_arima
from statsmodels.tsa.stattools import adfuller
import statsmodels.api as sm
from statsmodels.tsa.seasonal import seasonal_decompose
import lightgbm as lgb

import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'missingno'

SyntaxError: invalid syntax (581114978.py, line 1)